/* Contenedor principal del formulario */

/* Estilo para los títulos */
.title {
  font-size: 24px;
  color: #2f477a;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column; /* Apila los elementos verticalmente */
  gap: 15px; /* Espacio entre los elementos */
  max-width: 600px; /*Ancho maximo del contenedor*/
  width: 350px; /*Ancho del contenedor*/
  max-height: 600px; /*Altura maxima del contenedor*/
  height: 450px; /*Altura del contenedor*/
  margin: 50px auto; /*Centra el contenedor horizontalmente*/
  margin-top: 80px; /*Margen superior*/
  margin-left: 750px; /*Margen izquierdo*/
  padding: 30px;
  background-color: #e6ebf1; /* Color de fondo oscuro */
  border-radius: 8px; /* Esquinas redondeadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra */
}

.container:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7); /* Sombra más intensa al pasar el mouse */
}

/* Estilo para las etiquetas */
.label {
  font-size: 16px; /* Tamaño de la letra */
  color: #000000; /* Color de la letra */
  font-style: bold; /* Negrita */
}

/* Estilo para los campos de texto */
.input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #cacbcd;
  background-color: #f0f1f3;
  color: #000000;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

/* Estilo para el botón */
.button {
  margin-top: 40px; /*Espacio de separacion superior*/
  padding: 12px;
  border: none;
  border-radius: 8px; /* Esquinas redondeadas que pediste */
  background-color: #2f477a;
  color: white;
  font-size: 18px; /* Tamaño de letra más grande */
  cursor: pointer;
  transition: background-color 0.3s; /* Transición suave para el hover */
}

/* Efecto al pasar el mouse sobre el botón */
.button:hover {
  background-color: #466ab8;
}

.forgotPassword{
  color: #2f477a;
  text-align: center;
  margin-top: 40px;
  transition: color 0.3s;
}

.forgotPassword:hover{
  color: #466ab8;
  text-align: center;
  margin-top: 40px;
  transition: color 0.3s;
}