/* Contenedor principal que organiza los módulos */
.principalContainer {
  position: relative;
  top: 25px;
  left:-57px;
  display: flex;
  justify-content: space-between; /* Distribuye los módulos con un espacio simetrico entre ellos */
  width: 105%; /* Ajusta el ancho del contenedor principal */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding: 20px; /* Añade un poco de espacio en los bordes */
  gap: 20px; /* Crea un espacio uniforme entre los módulos */
}

/* Estilo para cada uno de los 5 módulos */
.container {
  flex-basis: 11%; /* Cada módulo ocupa el 18% del espacio del contenedor principal*/
  padding: 20px;
  height: 300px;
  background-color: #e6ebf1;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center; /* Centra el texto y la imagen dentro del módulo */
  transition: box-shadow 0.3s, transform 0.3s;
}

.container:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px); /* Efecto de "levantarse" al pasar el mouse */
}

/* Estilos para los elementos dentro de los módulos */
.title {
  font-size: 20px;
  color: #2f477a;
  margin-bottom: 15px;
}

.icon {
  width: 80px; /* Tamaño fijo para los íconos */
  height: auto;
  margin-bottom: 15px;
}

.description {
  font-size: 18px;
  color: #333;
}

/* Estilo para el botón de cerrar sesión */
.logoutButton {
  position: absolute;
  top: 70px;
  right: 20px;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background-color: #c9302c;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logoutButton:hover {
  background-color: #d9534f;
}